@using ServantApply.Common.Models
@using ServantApply.WebApp.Helpers
@model User
@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

@*<form action="/home/save">
        @*<div class="form-group">
                <label for="Name">Email address</label>
                <input type="text" class="form-control" id="Name" name="Name" data-val="true" data-valmsg-replace="The ReleaseDate field is required.">
                <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="Name">用户名<span class="um-span-required">*</span>：</label>
            <div class="col-sm-10 form-inline">
                <input class="form-control" data-val="true" id="Name" name="Name" type="text" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true">
                </span>
            </div>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>*@

@using (Html.BeginForm("save", "home"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "姓名", new { @class = "control-label col-md-2" , style="color:blue;"})
            <div class="col-md-10 form-inline">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "",  htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Education", "学历", new { @class = "control-label col-md-2", style = "color:blue;" })
            <div class="col-md-10 form-inline">
                @Html.DropDownList("Education", EducationTypeHelper.GetItems(), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btn-success" />
            </div>
        </div>
    </div>
}
