@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ServantApply.WebApp.Helpers
@using ServantApply.Common.Enums
@section scripts{
    <script type="text/javascript">
        $(document).on("click", "#join-job", function (event) {
            $.post("/Candidate/Enter", { jobId: $(this).attr("data-id") }, function (result) {
                if (result.isSuccess) {
                    window.location.href = "/Record/MyRecord";

                } else {
                    if (result.message == "NULL_MESSAGE") {
                        var tmp = confirm("个人信息不完整，是否填写？")
                        if (tmp == true) {
                            window.open("/Candidate/Message", "_blank");
                        }
                    } else {
                        alert("您已报考过改岗位，不可重复报考！");
                        window.location.href = "/Job/AllJob";  
                    }
                    
                }
            });
         });   
    </script>
}
@model Job
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>详情</h4>
    </div>
    <table class="table">
        <tr><td><b>岗位名称</b></td><td>@Model.Name</td></tr>
        <tr><td><b>岗位描述</b></td><td>@Model.Content</td></tr>
        <tr><td><b>部门名称</b></td><td>@Model.Organization</td></tr>
        <tr><td><b>所在地址</b></td><td>@Model.Address</td></tr>
        <tr><td><b>年龄要求</b></td><td>@Model.AgeAsk</td></tr>
        <tr><td><b>性别要求</b></td><td>@(((SexType)Model.SexAsk).GetDescription())</td></tr>
        <tr><td><b>学历要求</b></td><td>@(((EducationType)Model.EducationAsk).GetDescription())</td></tr>
    </table>
</div>
@if (Html.ViewContext.HttpContext.User.Identity.Role() == RoleType.User.GetDescription())
{
    <div style="text-align:center;">
        <span><a href="javascript:void(0)"class="btn btn-primary" id="join-job" data-id="@Model.Id">报名</a></span>
    </div>
}
