@using ServantApply.WebApp.Helpers
@model List<Job>

@*@for (var i = 0; i < Model.Count; i++)
 {
     var job = Model[i];
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span>@job.Name</span>  
                <span style="color:black;">&nbsp&nbsp&nbsp(所属单位：@job.Organization)</span>
                <span style="float:right"><button style="padding-top:0px;" type="button" class="btn btn-primary publish" data-question="">修改</button></span>
                <span style="float:right"><a style="padding-top:0px;" class="btn btn-danger remove" data-dismiss="modal">删除</a></span>
            </h3>
        </div>
        <div class="panel-body">
            <span>@job.Content</span>
            <span style='float:right'>
                <a class="btn btn-primary btn-lg btn-success start-btn">
                    <span class="glyphicon glyphicon-play-circle"></span>详情
                </a>
            </span>
        </div>
    </div>
}*@
@*<environment>
    <script src="~/lib/jquery/jquery.js"></script>
    <script>
        $(function () {
            $(".delete").click(function () {
                alert("");
            });
        });
    </script>

</environment>*@
@{
    ViewData["jobId"] = 0;
}

@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".delete-link").click(function () {
                var $this = $(this);
                var id = $this.attr("id");
                var r = confirm("确认删除？");
                if (r == true) {
                    $.post("/Job/Delete", { id: id }, function (result) {
                        if (result.isSuccess) {
                            window.location.reload();
                        } else {
                            alert(result.message);

                        }
                    });
                }
            });
        });
        
    </script>
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>我的创建</h3>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>编号</th>
                <th>岗位</th>
                <th>部门名称</th>
                
            </tr>
        </thead>
        <tbody>
           @for (var i = 0; i < Model.Count; i++)
           {
                var job = Model[i];
                <tr>
                    <th scope="row">@((job.Id).ToString("D8"))</th>
                    <td>@job.Name</td>
                    <td>@job.Organization</td>
                    <td>
                        <span><a href="/Job/Details?id=@job.Id">详情</a></span><span>&nbsp|</span>
                        <span><a href="/Job/Edit?id=@job.Id">修改</a></span><span>&nbsp|</span>
                        <span><a class="delete-link" id="@job.Id" href="javascript:void(0)">删除</a></span>
                    </td>
                </tr>
           }
        </tbody>
    </table>
</div>

<!-- 模态框（Modal） -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">确定要删除吗</h4>
            </div>
            @*<div class="modal-body">按下 ESC 按钮退出。</div>*@
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="true" class="btn btn-primary">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


